* {
	margin: 0;
}

body {
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.text {
	width: 50%;
	float: left;
	color: #fff;
}

.text h1{

}

.text h4{

}

.text ul{

}

.text ul li{

}

.button {
	background-color: #cc00ff;
    border-radius: ;
    border-radius: 8px;
}

.box {
	width: 50%;
	float: left;
	color: #fff;
	background-color: #00dcffeb;
}

.box h1{

}

.name {
	padding: 10px;
}

.Phone{
	padding: 10px;
}

.Email{
	padding: 10px;
}

.password{
	padding: 10px;
}

.box h1{

}





